
.cbutton, .cbutton_red {
    --btncolor: #52118f;
    /* --btncolor: #52118f; */
    width: 100%;
    background-color: var(--btncolor);
    border-color: var(--btncolor);
    color: white;
}

.cbutton_red {
    --btncolor: #ff4d4f;
    background-color: var(--btncolor);
    border-color: var(--btncolor)
}

.cspan{
    margin-bottom: 10px;
}

.ellipsiscard {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}